<p>
  <b>Name:</b>
  <%=h @occasion.name %>
</p>

<p>
  <b>Start date:</b>
  <%=h @occasion.start_date %>
</p>


<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>